
<div class="card">
  <form hx-get="{{prefix}}/graph/{{collection}}/{{label}}/{{column}}" hx-target="#main">
	<div class="card-header">
	  <label class="col-form-label">{{label}}:{{column}}</label>

	  <div class="btn-group float-right" role="group" aria-label="Basic example">
		<button class="btn btn-secondary btn-sm" value="prev"
				{{'disabled' if ui.page == 0 else ''}}>⯇ </button>
		<button class="btn btn-secondary btn-sm" value="next" id="next-btn">⯈</button>
	  </div>
	  <input type="hidden" value="{{ui.page}}" name="ui.page">
	</div>

	<ul class="list-group list-group-flush">
	  <li class="list-group-item">
		<div id="{{graph_id}}"></div>
	  </li>
	  <li class="list-group-item collapse {{'show' if show_filters else ''}}" id="collapse">
		<div class="row" >
		  <div class="col-xl-4" >

			<h4>Horizon</h4>
			<div class="form-group">
			  <code for="ui-start">Start</code>
			  <input type="date" class="form-control" id="ui-start" name="ui.start"
					 value="{{ui.start}}">
			</div>
			<div class="form-group">
			  <code for="ui-stop">Stop</code>
			  <input type="date" class="form-control" id="ui-stop" name="ui.stop"
					 value="{{ui.stop}}">
			</div>

		  </div>

		  <div class="col-xl-4" >
			{% if inputs %}
			<h4>Drill Down</h4>
			{% endif %}
			{% for name, (default, values) in inputs.items() %}
			<div class="form-group">
			  <code for="select-{{name}}">{{name}}</code>
			  <select class="custom-select" name="{{name}}" id="select-{{name}}">
				{% for value in values %}
				{% if value == default %}
				<option value="{{value}}" selected>{{value}}</option>
				{% else %}
				<option value="{{value}}">{{value}}</option>
				{% endif %}
				{% endfor %}
			  </select>
			</div>
			{% endfor %}
		  </div>

		  <div class="col-xl-4">
			<!-- THIRD COL -->
			<div class="d-flex flex-row-reverse">
			  <button class="btn btn-outline-primary btn-sm">Refresh</button>
			</div>
		  </div>
		</div>
	  </li>
	</ul>

	<div class="card-footer clearfix">
	  <button type="button" class="btn btn-outline-primary btn-sm float-right"
			  data-toggle="collapse" href="#collapse"
			  role="button" aria-expanded="false" aria-controls="collapse">
		Filters
	  </button>
	</div>
  </form>
</div>
<a href="{{uri}}">&#123;JSON&#125;</a>
</div>


<script type="text/javascript">
  load_graph("{{uri | safe}}", "{{graph_id}}", "{{ui.page_len}}");
</script>
